# Common Service Environment Variables
DOTNET_ENVIRONMENT=production
ASPNETCORE_URLS=http://0.0.0.0:80

# Database Connections
ConnectionStrings__CommonDb=Server=db.prod.dhanman.com;Port=5432;Database=prod-dhanman-common;User Id=dhanmanprod;Password=CHANGE_ME
ConnectionStrings__PermissionsDb=Server=db.prod.dhanman.com;Port=5432;Database=prod-dhanman-common;User Id=dhanmanprod;Password=CHANGE_ME
ConnectionStrings__TemplateDb=Server=db.prod.dhanman.com;Port=5432;Database=prod-dhanman-common;User Id=dhanmanprod;Password=CHANGE_ME

# Logging
Serilog__MinimumLevel__Default=Information
Serilog__MinimumLevel__Override__Microsoft=Warning
Serilog__MinimumLevel__Override__System=Warning
