{
  "Serilog": {
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Filter": [
      {
        "Name": "ByExcluding",
        "Args": { "expression": "RequestPath = '/metrics' or RequestPath = '/health'" }
      }
    ]
  }
}
